html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #f3f2ef;
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
}
#main {
  flex: 2;
}

td {
  color: darkblue;
  border-color: darkblue;
}

#subscriberEmail {
  background: rgb(241, 241, 241);
}

#job-title {
  color:  rgba(255, 255, 255, 0.4);
  margin: 5px 0;
  font-weight: bold;
  font-size: 1.2em;
}

.favorite {
  font-weight: bold;
  color: darkblue;
}

.page  {
  border-radius: 0.8rem;
  border: 2px solid #e0dfdc;
  background: #ffffff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  display: none;
}

#top-menu-bar {
  margin: 0;
  padding: 5px;
  text-align: center;
  background: rgba(1, 4, 34, 0.26);
  color: #fff;
}

#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
  transition: 0.5s;
  text-shadow: -1px 1px hsl(0deg 0% 70% / 0.6%);
  transform: translate(-4px);
}
#top-menu-bar a:hover {
  color: #070f3b;
  background: #fff;
  border-radius: 0.2rem ;
}
#side-menu > section {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
  border-radius: 0.3rem;
}

h1 {
  padding-top: 10px;
  margin: 0; 
  color:  rgba(255, 244, 234, 0.5);
 
}

#h {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(45deg, #020724, transparent);
}
#he {
  flex: 1;
  padding: 10px;
}
div {
  display: block;
}

#my-picture img {
  border-radius: 50%;
  border: 4px solid;
  color: rgba(255, 255, 255, 0.5); 
}

#img {
  width: 100px;
}


#g {
  margin: 0;
  padding:6px;
  text-align: center;
  background:rgba(1, 4, 34, 0.26); 
  color: white;
  justify-content: center;
}

#subscriber {
  background: rgb(241, 241, 241);
}
a {
  text-decoration: none;
  text-align: center;
  color: rgb(247, 241, 241);
}

#re {
  color: #c60b1e;
  font-size: 1rem;
}

.ro {
  font-family: sans-serif;
  margin: 0;
  color: #424242;
  font-size: 1rem;
}

input[type="text"] {
  margin-bottom: 3px;
  margin-top: 3px;
}

button[type="submit"] {
  cursor: pointer;
}

table, th, td {
  border: 1px solid black ;
  border-collapse: collapse;
  padding-top: 14px;
  margin-bottom: 2pc;
  padding-bottom: 14px;
}

h2 {
  margin: 0px 0px 10px 0;
  color: #050505;
  text-align: justify;
}

#languages table th {
  border: 1px solid #020724 ;
  padding: 5px;
}
#languages table td {
  padding: 5px;
  border: 1px solid #020724;
  
}

th {
  background:rgba(1, 4, 34, 0.26);
}
td {
  background: #fff;
}

h3 {
  text-align: justify;
}

.enter {
  text-align: left;
  margin: auto;
  display: block;
}

li > h3 > a {
  color: #050505;
  text-decoration: solid;
}